.academy{
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.shadows{
  -webkit-box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.75);
}

.academy-container{
  width: 85%;
  min-height: 80vh;
  background-color:whitesmoke;
  text-align: center;
  display: inline-block;
  padding: 1% 0 5% 0;
}

#academy-heading{
  font-size:2.2em;
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffd800;
}

.academy-content{
  padding:0;
}

.class-to-aca{
  font-size: 40px;
  cursor: pointer;
  margin-top:20%;
}

.slick-slider{
  width: 100%;
}

.slick-arrow{
  width: 10%;
  float: left;
}

.slick-list{
  float: left;
  width: 80%;
}

.sl-img {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 1%;
}

.sl-bundle-caption {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: 900;
  color: black;
}

.academy-img img{
  width: 750px;
  height: 450px;
}

.academy-img{
  display: flex;
  align-content: center;
  justify-content: center;
}

@media (max-width: 700px) {


  .academy-container{
    width: 100%;
    min-height:0;
    background-color:whitesmoke;
    text-align: center;
    display: inline-block;
    padding: 1% 0 20% 0;
  }

  .academy-img img{
    width:320px;
    height:310px;
    padding-right:0;
    margin-left:10%;
    margin-bottom: 10%;
  }

  .class-to-aca{
    font-size:30px;
    margin-top:45%;
  }
  #academy-heading h2{
    letter-spacing: 0;
    font-size: 0.9em;
  }

}

