.hows{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.shadows{
    -webkit-box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.75);
}

.how-container{
    width: 85%;
    min-height: 80vh;
    background-color:#999999;
    text-align: center;
    display: inline-block;
    padding: 1% 0 2% 0;
}

#how-heading{
    font-size:2.2em;
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: black;
    margin-top: 3%;
}

.how-content{
    padding:0 0 0 0;
}


.class-to-how{
    font-size: 40px;
    cursor: pointer;
    margin-top:15%;
}

.slick-slider{
    width: 100%;
}

.slick-arrow{
    width: 10%;
    float: left;
}

.slick-list{
    float: left;
    width: 80%;
}

.sl-img {
    width: 90%;
    margin-left: 5%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 1%;
}

.sl-bundle-caption {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    font-weight: 900;
    color: black;
}

.how-slick .col-md-7 {
    padding: 0;
}

.how-slick .col-md-7 img {

    width:400px;
    height:350px;

}

.how-slick .text {
    margin-top:0;
}
.how-slick .text p{
    margin-top: 10%;
    font-size: 18px;
    font-family: "Roboto",sans-serif;
}

.text h3{
    font-size: 20px;
    text-transform: uppercase;
}

#how-heading h2{
    padding: 1%;
    border-color: #ffc000;
}

@media (max-width: 700px) {


    .how-container{
        width: 100%;
        min-height:0;
        background-color:#999999;
        text-align: center;
        display: inline-block;
        padding: 1% 0 -20% 0;
    }

    #how-heading{
        margin-top: 5%;
    }


    .test iframe{
        width: 90%;
        height: 80%;
    }

    .class-to-how{
        font-size:30px;
        margin-top:50%;
    }
    #how-heading h2{
        letter-spacing: 0;
        font-size: 0.9em;
        padding: 2% 4%;
    }

    .how-slick .col-md-7 img {
        width:310px;
        height:310px;
        padding-right:15px;
        margin-bottom: 10%;
    }
    .how-slick .text {
        padding: 0;
    }
    .how-slick .text h2{
        font-size: 18px;
    }

}

