.Single_Article{
    min-height: 89vh;
    position: relative;
}
.single_article-container{
    margin-left: 15%;
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}

.single-article .article-heading h2{
    text-align: center;
    padding: 20px 10px 0 10px;
}

.article-heading hr{
    border: solid #C92627;
    border-width: 3px 0 0;
    width: 180px;
}

.single-article .article-item .heading h1{
    margin-top: 2%;
    font-weight: 700;
    text-align: center;
}

.single-article .article-item .authors ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.single-article .article-item .authors ul li{

    margin: 10px 25px ;
    font-size: 12px;
    text-transform: uppercase;
}

.single-article .article-item .authors ul a{
    text-decoration: none;
    color: #4f5b66;

}
.single-article .article-item .authors ul li:hover{
    color: black;
}


.single-article .article-item .image{
    display: flex;
    justify-content:center;
    align-items: center;
}

.single-article .article-item .image img{
    margin: 1% 0;
    width: 450px;
    height: 350px;
}

.single-article .article-item .content .article-content{
    padding: 20px 100px 0 100px;
    line-height: 30px;
    font-size: 20px;
}

.tags {
    margin-top: 5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
}
.tags .tagged{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
}

.tags p{
    font-size:18px;
    color: black;
}


.tag-list{
    list-style: none;
    display:inline-flex;
    padding-left: 5px;
}

.tag-list li{
    padding: 0 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.tag-list li a{
    color: #C92627;
    font-weight: 600;
}
.tag-list li a:hover{
    color: black;
}

.share{
    display: inline-flex;
    position: absolute;
    left: 80%;
}
.share .tweet p ,.share .fb p{
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 15px;
}

.single-article .article-item hr {
    width: 95%;
    border: 0.5px solid gray;
}

.related-articles .article-item{
    padding: 0 2.5%;
    height:200px;
}


.related-articles .article-item .image img{
    width: 200px;
    height: 160px;
}

.related-articles .article-item .heading h3{
    text-align:left;
    padding:25px 0 0 25px;
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.related-articles .article-item .row .heading .authors ul {
    list-style: none;
    display: inline-flex;
    padding-left:0
}

.related-articles .article-item .row .heading .authors ul li{
    text-align: center;
    padding: 0;
    font-size: 12px;
    text-transform: capitalize;
    color:gray;
}



.related-articles .article-item .content {
    padding: 20px;
    font-size: 17px;
    color: black;
}

.related-articles .article-item .heading h3:hover,.related-articles .article-item .content:hover{
    color:#999999;
}

/*.related .row .col-md-6 {*/
    /*padding: 0;*/
/*}*/

/*.related .row .col-md-6 a{*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/

/*.related .row .col-md-6 a:hover{*/

/*}*/

/*.related .row{*/
    /*margin-top: 3%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*.related .row .col-md-6 .similar-image,.related .row .col-md-6 .authors{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/


/*.related .row .col-md-6 img {*/
    /*width: 250px;*/
    /*height:250px;*/
/*}*/

/*.related .row .col-md-6 .authors h4{*/
    /*font-size: 12px;*/
    /*font-weight: 600;*/
/*}*/



/*.overlay {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*height: 250px;*/
    /*width: 250px;*/
    /*opacity: 0;*/
    /*transition: .5s ease;*/
    /*background-color:rgba(18, 21, 27, 0.5);*/
/*}*/

/*.similar-image:hover .overlay {*/
    /*opacity: 1;*/
/*}*/

/*.text {*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*text-align: center;*/
/*}*/